{% from "homePage/macros/deviceMacro.html" import deviceMacro %}
{% macro deviceSectionMacro(cssId, title, devices) %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homePage/macros/deviceSectionMacro.css') }}">
<div class="deviceSection" id="{{cssId}}">
    {{title}}
    <div id="deviceHeaders">
        <div class="deviceHeader deviceNameHeader">Device</div>
        <div class="deviceHeader ipAddressHeader">IP Address</div>
        <div class="deviceHeader lastAliveTimestampHeader">Last Alive</div>
    </div>
    {% for device in devices %}
    {{deviceMacro(device)}}
    {% endfor %}
</div>
{% endmacro %}