{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/settingsPage.css') }}">
<script src="{{ url_for('static', filename='js/settingsPage.js') }}"></script>
<!-- Add icon library -->
<script src="https://kit.fontawesome.com/e509e6f024.js" crossorigin="anonymous"></script>
{% endblock %}

{% block pageTitle %}<i class="fas fa-cog"></i> Settings{% endblock %}

{% block pageSubtitle %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
{% endblock %}