{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/settingsPage.css') }}">
<script src="{{ url_for('static', filename='js/settingsPage.js') }}"></script>
<!-- Add icon library -->
<script src="https://kit.fontawesome.com/e509e6f024.js" crossorigin="anonymous"></script>
{% endblock %}

{% block pageTitle %}<i class="fas fa-cog"></i> Settings{% endblock %}

{% block pageSubtitle %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div id="settingsInputSection">
	<label for="pingsToSaveInput" class="inputLabel">Pings to Save</label>
	<input type="number" class="form-control settingsInput" id="pingsToSaveInput" placeholder=""
	       onkeyup="activateUpdateButtonIfValidInput()"
	       value="{{settings.pingsToSave}}"
	       autocomplete="off" min="1" step="1">

	<label for="pingOnlineThresholdInput" class="inputLabel">Ping Online Threshold (percent)</label>
	<input type="number" class="form-control settingsInput" id="pingOnlineThresholdInput" placeholder=""
	       onkeyup="activateUpdateButtonIfValidInput()"
	       value="{{settings.pingOnlineThreshold}}"
	       autocomplete="off" min="1" max="100" step="1">

	<label for="pageRefreshFrequencyInput" class="inputLabel">Page Refresh Frequency (seconds)</label>
	<input type="number" class="form-control settingsInput" id="pageRefreshFrequencyInput" placeholder=""
	       onkeyup="activateUpdateButtonIfValidInput()"
	       value="{{settings.pageRefreshFrequency}}"
	       autocomplete="off" min="1">

	<label for="pingCriticalRefreshFrequencyInput" class="inputLabel">Ping Critical Refresh Frequency (seconds)</label>
	<input type="number" class="form-control settingsInput" id="pingCriticalRefreshFrequencyInput" placeholder=""
	       onkeyup="activateUpdateButtonIfValidInput()"
	       value="{{settings.pingCriticalRefreshFrequency}}"
	       autocomplete="off" min="1">

	<label for="pingKnownRefreshFrequencyInput" class="inputLabel">Ping Known Refresh Frequency (seconds)</label>
	<input type="number" class="form-control settingsInput" id="pingKnownRefreshFrequencyInput" placeholder=""
	       onkeyup="activateUpdateButtonIfValidInput()"
	       value="{{settings.pingKnownRefreshFrequency}}"
	       autocomplete="off" min="1">

	<label for="pingScanFrequencyInput" class="inputLabel">Ping Scan Frequency (seconds)</label>
	<input type="number" class="form-control settingsInput" id="pingScanFrequencyInput" placeholder=""
	       onkeyup="activateUpdateButtonIfValidInput()"
	       value="{{settings.pingScanFrequency}}"
	       autocomplete="off" min="1">

	<button class="btn btn-primary disabled" id="updateSettingsButton" href="#" onclick="putSettings()" disabled>
		<i class="fas fa-paper-plane"></i>
		<span class="navBarText"> Update</span>
	</button>
</div>
{% endblock %}