@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

/* start device popup form styling */

#formBackground {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    z-index: 1;
}

#deviceForm {
    display: none;
    flex-direction: column;
    align-content: space-around;
    justify-content: flex-start;
    background-color: #d9d9d9;
    margin: auto;
    width: 15%;
    height: 45%;
    padding: 20px;
    margin-top: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    border-radius: 10px;
}

#deviceFormTopSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#close-button {
    color: black;
}

#close-button:hover {
    opacity: 0.75;
}

#deviceFormInputsSection {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    background-color: pink;
}

.inputLabel {
    margin-top: 5%;
}

#deviceFormButtonSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
}

#deleteButton {
    display: none;
    margin-right: 5px;
    background-color: red;
}

/* end device popup form styling */

html {
  width: 100%;
  height: 100%;
  overflow-y: visible;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--bgColorPrimary) !important;
}

.topSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 2%;
}

.bottomSection {
  width: 100%;
  height: 100%;
}

.pageTitle {
  font-size: 400%;
  order: 1;
  text-align: center;
  color: black;
}

.pageSubtitle {
  font-size: 200%;
  order: 2;
  text-align: center;
  color: black;
}

.errorSection {
    width: 100%;
    order: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    height: 5rem;
    padding-left: 1rem;
    justify-content: flex-start !important;
    background-color: var(--bgColorSecondary);
}

.nav-item {
    font-size: 1.2rem;
    color: black;
}

.nav-item:hover {
    color: grey;
}

button {
    cursor: pointer;
}

#logoButton {
    font-size: 200%;
    color: var(--primaryColor);
    font-family: 'Play', sans-serif;
}

.logoButton:hover {
    color: white;
}

.loader-wrapper {
    opacity: 0.2;
    background-color: #ccc;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}