{% extends "base.html" %}
{% from "devicesPage/macros/deviceSectionMacro.html" import deviceSectionMacro %}
{% from "devicesPage/macros/deviceMacro.html" import deviceMacro %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/devicesPage/devicesPage.css') }}">
<script src="{{ url_for('static', filename='js/devicesPage/devicesPage.js') }}"></script>
<!-- Add icon library -->
<script src="https://kit.fontawesome.com/e509e6f024.js" crossorigin="anonymous"></script>
{% endblock %}

{% block pageTitle %}<i class="fas fa-laptop-house"></i> Devices{% endblock %}

{% block pageSubtitle %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<!-- Add device popup -->
<div id="formBackground">
	<div id="deviceForm">
		<div id="deviceFormTopSection">
			<a href="#" id="close-button" onclick="onCloseDeviceForm()"><i
					class="fas fa-times-circle fa-lg"></i></a>
		</div>
		<div id="deviceFormInputsSection">
			<input type="text" id="deviceIdHolder">
			<label for="deviceNameInput" class="inputLabel">Name</label>
			<input type="text" class="form-control" id="deviceNameInput" placeholder="Name"
			       autocomplete="off" onkeyup="activateSubmitButtonIfValidInput()">
			<label for="ipAddressInput" class="inputLabel">IP Address</label>
			<input type="text" class="form-control" id="ipAddressInput" placeholder="IP Address" autocomplete="off"
			       onkeyup="activateSubmitButtonIfValidInput()">
			<input type="text" id="lastAliveTimestampHolder">
			<!-- device rank dropdown selection-->
			<label for="deviceRankSection" id="deviceRankDropdown" class="inputLabel">Rank</label>
			<div id="deviceRankSection">
				<button class="btn btn-secondary dropdown-toggle" id="deviceRankDropdownButton"
				        type="button"
				        value="Rank"
				        data-toggle="dropdown"
				        aria-haspopup="true" aria-expanded="false">Rank
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					{% for rank in device_rank_class.list() %}
					<a class="rankDropdownItem dropdown-item" href="#"
					   onclick="setRankDropdownValue('{{rank.name}}')"
					   id="{{rank.name}}_option">{{rank.name}}</a>
					{% endfor %}
				</div>
			</div>
		</div>
		<div id="deviceFormButtonSection">
			<button class="btn btn-secondary" id="deleteButton" type="button" onclick="onDeleteDeviceForm()">
				<i class="fas fa-trash-alt"></i></button>
			<button class="btn btn-secondary" id="submitButton" type="button"
			        onclick="onSubmitDeviceForm()" disabled>Submit
			</button>
		</div>
	</div>
</div>
<!-- End add device popup -->
<button class="nav-item nav-link" href="#" onclick="onOpenDeviceForm('', '', 'Rank', '', '')"><i
		class="far fa-plus-square"></i>
	<span
			class="navBarText"> Add Device</span></button>
<div id="deviceSections">
	{{deviceSectionMacro("criticalSection","Critical", critical_devices)}}
	{{deviceSectionMacro("knownSection","Known", known_devices)}}
	{{deviceSectionMacro("unknownSection","Unknown", unknown_devices)}}
</div>
{% endblock %}