#settingsInputSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: pink;
}

.settingsInput {
    width: 5%;
}

#updateSettingsButton {
    width: 8%;
    margin-top: 1%;
    background-color: green;
}