{% extends "base.html" %}

{% block head %}
<title>NeMo</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/leagueHomepage.css') }}">
<script src="{{ url_for('static', filename='javascript/leagueHomepage.js') }}"></script>
<!-- Add icon library -->
<script src="https://kit.fontawesome.com/e509e6f024.js" crossorigin="anonymous"></script>
{% endblock %}

{% block pageTitle %}<i class="fas fa-home"></i> Home{% endblock %}

{% block pageSubtitle %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}{% endblock %}