#deviceSections {
    display: flex;
    flex-direction: row;
    background-color: pink;
    height: 70%;
    width: 100%;
    justify-content: space-around;
}

#criticalSection {
    background-color: cadetblue;
}

#knownSection {
    background-color: green;
}

#unknownSection {
    background-color: yellow;
}