.device {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: purple;
}

.deviceName {
    background-color: blue;
}

.ipAddress {
    background-color: grey;
}

.lastAliveTimestamp {
    background-color: teal;
}